<!DOCTYPE html>
<html lang="en">
<head>

{{ theme:partial name="header" }}

</head>
<body id="page-top" class="index">

{{ theme:partial name="navigation" }}

<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Welcome To My Website!</div>
            <div class="intro-heading">It's Nice To Meet You</div>
            <a href="#services" class="page-scroll btn btn-xl">Tell Me More</a>
        </div>
    </div>
</header>

{{ pages:display slug="portfolio" }}
    {{ custom_fields }}
    	{{ body }}
    {{ /custom_fields }}
{{ /pages:display }}

{{ pages:display slug="about" }}
    {{ custom_fields }}
    	{{ body }}
    {{ /custom_fields }}
{{ /pages:display }}

{{ pages:display slug="contact" }}
    {{ custom_fields }}
    	{{ body }}
    {{ /custom_fields }}
{{ /pages:display }}

{{ theme:partial name="footer" }} 

</body>
</html>